#grid{
    transition: 0.2s ease-in-out;
    
  
}

#grid:hover{
    transform: scale(1.08);
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
    transition: 0.2s ease-in-out;
  
}
#mainbtn{
    background-color: #120442;
    color: white;
}

#subbtn{
    background-color: #3a44d7 ;
    color: white;
}
.stockelement{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    border: 1px solid grey;
    width: 90px;
    border-radius: 5px;
    margin-left: 5px;

}

#btn{
    background-color: transparent;
    color: grey;
    /* font-size: 2rem; */
    /* padding: 0.6rem; */
    font-weight: bold;
    border: none;
}

#subbtn:hover{
    border-radius: 0px;
}

#login{
    width: 400px;
    height: 450px;
}
#sho{
    font-size:xx-large ;
}

#pic{
   color: red; 
   font-size: xx-large;
}

#login{
    background-color: rgb(27, 26, 26);
    margin-left: 400px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
}

#login-main{
    border-bottom: none;
}

#login input{
    background-color:rgb(27, 26, 26) ;
    border-bottom: 2px solid white;
}

#login button{

    background-color: #040a63;
}
#btnlogin :hover{
    border-radius: 1px;
    background-color: rgb(255, 149, 0);
}
#login button:hover{
 background-color: orange;
 border-radius: 1px;
}

#checkout{
    width: 120px;
    height: 60px;
    background-color: green;
     color: white;
     font-size:medium;
     font-weight: 400;
     text-align: center;
    margin-left: 50%;
    border-radius: 20px;

}

#checkout:hover{
    border-radius: 1px;
}
/* 
@media (max-width: 1200px) {
    #product-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2px;
        margin-bottom: 80px;
        margin-top: 100px;
        justify-content: center;
        align-items: center;
        
       
    }
} 
@media (max-width: 1000px) {
    #product-grid {
        width: auto;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2;
        margin-bottom: 100px;
        margin-top: 120px;
        margin-left: 260px;
        

 
        
       
    }
}
@media(max-width:1000px){
    #new-arrival{
        display: none;
    }
} 
@media (max-width: 700px) {
    #product-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: none;
        margin-bottom: 100px;
        margin-top: 120px;
        justify-content: center;
        align-items: center;
        
       
    }
}  */
/* Small screens (mobile) */
/* @media (max-width: 600px) {
    #product-grid {
        grid-template-columns: 1fr;
     
    }
}
